pandas==1.5.3
numpy==1.24.3
scikit-learn==1.2.2
#joblib==1.3.2
tensorflow==2.13.0
#requests==2.31.0
pyyaml==6.0
matplotlib==3.7.2
#seaborn==0.12.2
scipy>=1.7.0,<1.11.0
#shap==0.41.0
#keras-tuner==1.1.3
python-dotenv==1.0.0
protobuf==3.20.*
#tqdm==4.64.0
#optuna>=3.0.0,<4.0.0
#pandas-ta==0.3.14b0
#ta==0.10.2
psycopg2-binary==2.9.6
talipp==2.4.0
h5py==3.8.0
#dask[distributed]>=2023.3.0,<2024.0.0